<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thread.scheduled.mappers.BoardMapper">

    <select id="getAllBoard" resultType="com.thread.scheduled.vo.BoardVO">
        SELECT
            no,type
            ,title
            ,contents
            ,writer
            ,created_time as createdTime
            ,updated_time as updatedTime
            ,likes,counts
        FROM BOARD
    </select>


</mapper>